.container{
  display:block;
  width:620px;
}
.result-container{
    text-align:right;
}
.result-container .result{
    font-size:48px;
    font-weight:bold;
}
.container .operations {
  width: 80px;
  height: 80px;
  margin: 10px;
  display : inline-block;
}
.container .empty-field {
  width: 80px;
  height: 80px;
  margin: 10px;
  display: inline-block;
  vertical-align: middle;
}
